.root {
    color:#999;
    background:#3d3d3d;
    z-index: 0;
    height: 4vh;
    max-width:100%;
}
.footerItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.footerItem {
    float: left;
}

.footerItem a {
    display: block;
    color: #999;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}
